<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button clear (click)="dismiss()">fechar</button>
    </ion-buttons>
    <ion-title>Editando arquivo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h2>PDF em inglês</h2>
  <input placeholder="{{ englishFile.englishPDFName }}" disabled>
  <button ion-button clean>Alterar</button>
  
  <h2>PDF em português</h2>
  <input placeholder="{{ englishFile.englishPDFName }}">
  <button ion-button clean>Alterar</button>

  <h2>Áudio em inglês</h2>
  <input placeholder="{{ englishFile.englishPDFName }}">
  <button ion-button clean>Alterar</button>

</ion-content>
