<!--
  Generated template for the AddFilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="second">
    <ion-buttons start>
      <button ion-button clear (click)="dismiss()">fechar</button>
    </ion-buttons>
    <ion-title>Adicione um arquivo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div text-center padding>
    <ion-item>
      <ion-input type="text" placeholder="{{ !englishPDFName ? 'Selecione o script em inglês' : englishPDFName }}" value="{{ englishPDFName }}" disabled></ion-input>
      <button ion-button item-right (click)="chooseEnglishPDF()">Selecionar</button>
    </ion-item>

    <ion-item>
      <ion-input type="text" placeholder="{{ !portuguesePDFName ? 'Selecione o script em português' : portuguesePDFName }}" value="{{ portuguesePDFName }}" disabled></ion-input>
      <button ion-button item-right (click)="choosePortuguesePDF()">Selecionar</button>
    </ion-item>

    <ion-item>
      <ion-input type="text" placeholder="{{ !audioName ? 'Selecione o arquivo de áudio' : audioName }}" value="{{ audioName }}" disabled></ion-input>
      <button ion-button item-right (click)="chooseAudio()">Selecionar</button>
    </ion-item>


    <button ion-button block (click)="dismiss()" color="second">Salvar</button>
  </div>
</ion-content>