<ion-header>

	<ion-navbar color="first">
		<ion-title text-left>Tela Inicial</ion-title>

		<ion-buttons end>
			<button ion-button icon-start (click)="showAddFile()">
				<ion-icon name="add-circle"></ion-icon>
				Adicionar
			</button>
		</ion-buttons>
	</ion-navbar>

</ion-header>


<ion-content padding>
	<ion-list>
		<ion-item-sliding *ngFor="let file of listFiles" >
			
			<button ion-item ion-item (click)="execute(file)">
				<h2> {{ file.englishPDFName }} </h2>
			</button>
			
			<ion-item-options side="right">
				<button ion-button color="primary" (click)="removeItem(file.englishPDFName)">
					<ion-icon name="trash"></ion-icon>
					Excluir
				</button>
			</ion-item-options>
			<ion-item-options side="left">
				<button ion-button color="primary" (click)="showEditFile()">
					<ion-icon name="attach"></ion-icon>
					Editar
				</button>
			</ion-item-options>

		</ion-item-sliding>
	</ion-list>
	<p>Texto</p>
</ion-content>