<!--
  Generated template for the ViewerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>viewer</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div>
    <img id="image" src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_120x44dp.png" alt="Picture">
  </div>
  <button ion-button block (click)="t()">aperte</button>
</ion-content>
